{% set course = data('MemberRecentlyLearned',{'user':app.user}) %}

{% if course %}
  <div class="es-box">
    <div class="es-box-heading">
      <h2>{{'在学课程'|trans}}</h2>
    </div>
    <div class="es-box-body user-learn clearfix">
      <a href="{{ path('course_show', {id:course.id}) }}">
        <img src="{{ filepath(course.largePicture, 'course.png') }}"  class="img-responsive thumb pull-left">
      </a>
      <p>《{{ course.title }}》</p>
      {% set teacher = course.teachers|first %}
      {% set progress = course.progress %}
      {#<p class="teacher-name">{{'教师：'|trans}}{{ teacher.nickname|default("") }}</p> #}
        {% if course.buyable == 0 %}
            <p class="teacher-name">层级0</p>
        {% endif %}
        {% if course.buyable == 1 %}
          <p class="teacher-name">层级1</p>
        {% endif %}
        {% if course.buyable == 2 %}
          <p class="teacher-name">层级2</p>
        {% endif %}
        {% if course.buyable == 3 %}
          <p class="teacher-name">层级3</p>
        {% endif %}
        {% if course.buyable == 4 %}
          <p class="teacher-name">层级4</p>
        {% endif %}
        {% if course.buyable == 22 %}
            <p class="teacher-name">GN1</p>
        {% endif %}
        {% if course.buyable == 5 %}
          <p class="teacher-name">静疗</p>
        {% endif %}
        {% if course.buyable == 6 %}
          <p class="teacher-name">糖尿病</p>
        {% endif %}
        {% if course.buyable == 7 %}
          <p class="teacher-name">危重病</p>
        {% endif %}
        {% if course.buyable == 8 %}
          <p class="teacher-name">跌倒坠床及压疮</p>
        {% endif %}
        {% if course.buyable == 9 %}
          <p class="teacher-name">肿瘤</p>
        {% endif %}
        {% if course.buyable == 10 %}
          <p class="teacher-name">管路</p>
        {% endif %}
        {% if course.buyable == 11 %}
            <p class="teacher-name">健康教育</p>
        {% endif %}
        {% if course.buyable == 12 %}
            <p class="teacher-name">信息化建设</p>
        {% endif %}
        {% if course.buyable == 13 %}
            <p class="teacher-name">设备及耗材</p>
        {% endif %}
        {% if course.buyable == 14 %}
            <p class="teacher-name">科室运行文件</p>
        {% endif %}
        {% if course.buyable == 15 %}
            <p class="teacher-name">临床药品</p>
        {% endif %}
        {% if course.buyable == 16 %}
            <p class="teacher-name">院感</p>
        {% endif %}
        {% if course.buyable == 17 %}
            <p class="teacher-name">敏感指标</p>
        {% endif %}
        {% if course.buyable == 18 %}
            <p class="teacher-name">造口</p>
        {% endif %}
        {% if course.buyable == 19 %}
            <p class="teacher-name">护理文书</p>
        {% endif %}
        {% if course.buyable == 50 %}
            <p class="teacher-name">宣传</p>
        {% endif %}
        {% if course.buyable == 51 %}
            <p class="teacher-name">应急</p>
        {% endif %}
      <div class="progress-block clearfix">
        <div class="progress" style="width:90%">
          <span class="progress-bar" style="width: {{ progress.percent }};"></span>
        </div>
        <div class="percentage clearfix">{{'完成'|trans}}{{ progress.percent }}</div>

        {% set nextLearnLesson = course.nextLearnLesson %}
        {% if nextLearnLesson %}
          <div class="continue">
            <a href="{{ path('course_learn', {id:course.id}) }}#lesson/{{nextLearnLesson.id}}" title="{{'开始学习：'|trans}}{{ nextLearnLesson.title }}" class="btn btn-success pull-right">{{'开始学习'|trans}}</a>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endif %}