{% extends 'TopxiaWebBundle:CourseStudentManage:index.html.twig' %}

{% block title %}学员管理 - {{ parent() }}{% endblock %}

{% set submenu = 'student' %}

{% set script_controller = 'course-manage/students' %}

{% block maincontent %}



    <div class="form-group" style="width: 100%">
       <form action="{{ path('course_fetch_bat_student',{courseId:courseId}) }}">
           <div class="form-group">
                层级
               <select id="keshi" name="keshi" style="width: 30%;border: 1px solid #ccc;border-radius: 4px;height: 34px;padding: 6px 12px;">
                   <option value=""> 全选 </option>
                   {% for k in classr %}
                       <option {% if keshi == k.id %} selected {% endif %} value="{{ k.id }}"> {{ k.title }} </option>
                   {% endfor %}
               </select>
               专业类别
               <select id="sskeshi" name="sskeshi" style="width: 30%;border: 1px solid #ccc;border-radius: 4px;height: 34px;padding: 6px 12px;">
                   <option value=""> 全选 </option>
                   <option {% if sskeshi == "静疗" %} selected {% endif %} value="静疗"> 静疗 </option>
                   <option {% if sskeshi == "糖尿病" %} selected {% endif %} value="糖尿病"> 糖尿病 </option>
                   <option {% if sskeshi == "危重症" %} selected {% endif %} value="危重症"> 危重症 </option>
                   <option {% if sskeshi == "跌倒" %} selected {% endif %} value="跌倒"> 跌倒 </option>
                   <option {% if sskeshi == "肿瘤" %} selected {% endif %} value="肿瘤"> 肿瘤 </option>
                   <option {% if sskeshi == "管路" %} selected {% endif %} value="管路"> 管路 </option>
                   <option {% if sskeshi == "健康教育" %} selected {% endif %} value="健康教育"> 健康教育 </option>
                   <option {% if sskeshi == "信息化建设" %} selected {% endif %} value="信息化建设"> 信息化建设 </option>
                   <option {% if sskeshi == "设备及耗材" %} selected {% endif %} value="设备及耗材"> 设备及耗材 </option>
                   <option {% if sskeshi == "科室运行文件" %} selected {% endif %} value="科室运行文件"> 科室运行文件 </option>
                   <option {% if sskeshi == "临床药品" %} selected {% endif %} value="临床药品"> 临床药品 </option>
                   <option {% if sskeshi == "院感" %} selected {% endif %} value="院感"> 院感 </option>
                   <option {% if sskeshi == "敏感指标" %} selected {% endif %} value="敏感指标"> 敏感指标 </option>
                   <option {% if sskeshi == "造口" %} selected {% endif %} value="造口"> 造口 </option>
                   <option {% if sskeshi == "护理文书" %} selected {% endif %} value="护理文书"> 护理文书 </option>
                   <option {% if sskeshi == "应急" %} selected {% endif %} value="应急"> 应急 </option>
                   <option {% if sskeshi == "宣传" %} selected {% endif %} value="宣传"> 宣传 </option>
                   <option {% if sskeshi == "坠床" %} selected {% endif %} value="坠床"> 坠床 </option>
               </select>
           </div>
           <div class="form-group">
               病区
               <select id="memberType" name="memberType" style="width: 30%;border: 1px solid #ccc;border-radius: 4px;height: 34px;padding: 6px 12px;">
                   <option value=""> 全选 </option>
                   {% for m in memberTypes %}
                       <option value="{{ m.memberTypeName }}"> {{ m.memberTypeName }}  </option>
                   {% endfor %}
               </select>
               行政职务
               <select id="position" name="position" style="width: 30%;border: 1px solid #ccc;border-radius: 4px;height: 34px;padding: 6px 12px;">
                   <option value=""> 全选 </option>
                   <option {% if position == "高级" %} selected {% endif %} value="高级"> 高级 </option>
                   <option {% if position == "护士" %} selected {% endif %} value="护士"> 护士 </option>
                   <option {% if position == "护士长" %} selected {% endif %} value="护士长"> 护士长 </option>
                   <option {% if position == "教学老师" %} selected {% endif %} value="教学老师"> 教学老师 </option>
               </select>
               {#<select id="memberType" name="memberType" style="width: 30%;border: 1px solid #ccc;border-radius: 4px;height: 34px;padding: 6px 12px;">
                   <option value=""> 全选 </option>
                   <option value="护士"> 护士 </option>
                   <option value="技师"> 技师 </option>
                   <option value="医生"> 医生 </option>
                   <option value="药师"> 药师 </option>
                   <option value="收款员"> 收款员 </option>
                   <option value="其他"> 其他 </option>
               </select>#}
               {#行政职务
               <select id="jobType" name="jobType" style="width: 30%;border: 1px solid #ccc;border-radius: 4px;height: 34px;padding: 6px 12px;">
                   <option value=""> 全选 </option>
                   <option value="正高"> 正高 </option>
                   <option value="副高"> 副高 </option>
                   <option value="中级"> 中级 </option>
                   <option value="初级"> 初级 </option>
               </select>#}
           </div>
           {#<div class="form-group">
               出生日期
               <input type="text" name="birthday" style="width: 30%;border: 1px solid #ccc;border-radius: 4px;height: 34px;padding: 6px 12px;"/>
               到
               <input type="text" name="birthday_end" style="width: 30%;border: 1px solid #ccc;border-radius: 4px;height: 34px;padding: 6px 12px;"/>
           </div>
           <div class="form-group">

               最高学位
               <select id="degree" name="degree" style="width: 30%;border: 1px solid #ccc;border-radius: 4px;height: 34px;padding: 6px 12px;">
                   <option value=""> 全选 </option>
                   <option value="医学博士"> 医学博士 </option>
                   <option value="医学硕士"> 医学硕士 </option>
                   <option value="医学学士"> 医学学士 </option>
                   <option value="工学博士"> 工学博士 </option>
                   <option value="工学硕士"> 工学硕士 </option>
                   <option value="工学学士"> 工学学士 </option>
                   <option value="教育学博士"> 教育学博士 </option>
                   <option value="教育学硕士"> 教育学硕士 </option>
                   <option value="教育学学士"> 教育学学士 </option>
                   <option value="经济学博士"> 经济学博士 </option>
                   <option value="经济学硕士"> 经济学硕士 </option>
                   <option value="经济学学士"> 经济学学士 </option>
                   <option value="理学博士"> 理学博士 </option>
                   <option value="理学硕士"> 理学硕士 </option>
                   <option value="理学学士"> 理学学士 </option>
                   <option value="农学博士"> 农学博士 </option>
                   <option value="农学硕士"> 农学硕士 </option>
                   <option value="农学学士"> 农学学士 </option>
                   <option value="文学博士"> 文学博士 </option>
                   <option value="文学硕士"> 文学硕士 </option>
                   <option value="文学学士"> 文学学士 </option>
                   <option value="法学博士"> 法学博士 </option>
                   <option value="法学硕士"> 法学硕士 </option>
                   <option value="法学学士"> 法学学士 </option>
                   <option value="其他学博士"> 其他学博士 </option>
                   <option value="其他学硕士"> 其他学硕士 </option>
                   <option value="其他学学士"> 其他学学士 </option>
                   <option value="博士..."> 博士... </option>
                   <option value="硕士..."> 硕士... </option>
                   <option value="学士..."> 学士... </option>
               </select>
           </div>#}
           <button type="submit" clas="btn bbtn btn-info btn-sm mhs" style="width: 10%">搜索</button>
       </form>
    </div>
    {#
           <form action="{{  }}"  >
               <input id="ids" type="hidden" />
               <div  >
                   <table id="userMember">
                       <th><tr><td>选择框</td><td>工号</td><td>姓名</td></tr></th>
                       <tbody id="userMemberBody">

                       </tbody>
                   </table>
               </div>
               <button type="submit">提交</button>
           </form>
       #}
{% endblock %}