{% extends 'TopxiaAdminBundle:sorce:layout.html.twig' %}



{% block main %}

    <script>
        window.onload=function(){
            var year = $("#year").val();
            var department = $("#department").val();
            var truename = $("#truename").val();
            //var url = '/functionDir/createExcel/make_xueshengtongji.php?year='+year+'&department='+department+'&truename='+truename;
            var url = 'http://39.108.165.250:8080/netedustatistics/excel/getScoreByGradeExcel?year='+year+'&cengji='+department+'&name='+truename;
            //myajax('/functionDir/createExcel/make_xueshengtongji.php?year='+year+'&department='+department+'&truename='+truename);
            $("#mydownload").attr("href",url);
        }
        function getExcel(){
            var year = $("#year").val();
            var department = $("#department").val();
            var truename = $("#truename").val();
            //var url = '/functionDir/createExcel/make_xueshengtongji.php?year='+year+'&department='+department+'&truename='+truename;
            //myajax('/functionDir/createExcel/make_xueshengtongji.php?year='+year+'&department='+department+'&truename='+truename);
            var url = 'http://39.108.165.250:8080/netedustatistics/excel/getScoreByGradeExcel?year='+year+'&cengji='+department+'&name='+truename;
            $("#mydownload").attr("href",url);
            //$("#mydownload").click();
            //alert("wait");
        }
        function fun(e){
            $num = $(e).attr('data_id');
            $.ajax({
                type: "GET",
                url: "/sorce/member?memberNum="+$num, //用于文件上传的服务器端请求地址
                dataType: 'json', //返回值类型 一般设置为json
                success: function (data, status)  //服务器成功响应处理函数
                {
                    var html = "";
                    for(var i = 0;i<data.length;i++){
                        html = html + "<tr>"
                            +"<td>"+data[i].memberNum+"</td>"
                            +"<td>"+data[i].truename+"</td>"
                            +"<td>"+data[i].score+"</td>";
                            if(data[i].title != null){
                                html = html +  "<td>"+data[i].title+"</td>";
                            }else{
                                html = html +  "<td>"+data[i].courseName+"</td>";
                            }
                            html = html +"<td>"+data[i].year+"</td>";
                            html = html +"<td>"+data[i].remark+"</td>"
                            + "</tr>";

                    }
                    $('#p_body').html(html);
                },
                error : function (data, status, e)//服务器响应失败处理函数
                {
                    $("#copyFile").val("");
                    $("#file").val("");
                    $("#depositReceipt").val("");
                }
            });
        }
    </script>
    <div style="height: 40px">
        <form action="{{ path('admin_sorce_statistical') }}" method="get">
            <span>统计年度</span><input id="year" name="year" value="{{ year }}"/>
            <span>科室</span>
            <select id="department" name="department" >
                <option value="">全部</option>
                {% for k in classr %}
                   <option {% if department == k.id %} selected {% endif %} value="{{ k.id }}">{{ k.title }}</option>
                {% endfor %}
            </select>
            <span>姓名</span>
            <input id="truename" type="text" name="truename" value="{{ truename }}"/>
            <input type="submit" value="查询" >
            <a id="mydownload" class="btn btn-info btn-sm button1"  style="float: right">结果导出</a>
            <br>
            <input type="text" id="copyFile" name="copyFile"  style=" width:66%;margin-right:10px;display: none" />
            <input type="file" class="input"id="file"  style="float: left"  name="file" onchange="getFile(this,'copyFile')"  />
            <button type="button" class="btn btn-info btn-sm button1" style="float: left" onclick="myajaxFileUpload('/functionDir/upload_member_score.php',null)" ><span class="glyphicon glyphicon-plus"></span>批量上传成绩</button>

            <a href="/functionDir/download_score.php" style="float: right">下载录入批量成绩模板</a>

            <br>
            <br>
        </form>

    </div>

    {#<table id="user-table" class="table table-striped table-hover" data-search-form="#user-search-form">
        <thead>
        <tr>
            <th>科室名称</th>
            <th>工号</th>
            <th>职称</th>
            <th>姓名</th>
            <th>是否合格</th>
            <th>备注</th>
        </tr>
        </thead>
        <tbody>
                {% for ar in arry %}
                    <tr>
                        <td>{{ ar[0] }}</td>
                        <td><a onclick="fun(this)" data-toggle="modal" data-target="#myModal"  data_id="{{ ar[1] }}" >{{ ar[1] }}</a>
                        <td>{{ ar[2] }}</td>
                        <td>{{ ar[3] }}</td>
                        <td>{{ ar[4] }}</td>
                        <td>{{ ar[5] }}</td>
                    </tr>
                 {% endfor %}
        </tbody>
    </table>#}
    <table id="user-table" class="table table-striped table-hover" data-search-form="#user-search-form">
        <thead>
            <tr>
                <th>姓名</th>
                <th>工号</th>
                <th colspan="4">层级培训</th>
                <th colspan="4">专业培训</th>
                <th colspan="3">年度总学分</th>
            </tr>
            <tr>
                <th></th>
                <th></th>
                <th>层级</th>
                <th>培训次数</th>
                <th>得分</th>
                <th>评定</th>
                <th>专业类型</th>
                <th>培训次数</th>
                <th>得分</th>
                <th>评定</th>
                <th>合格标准</th>
                <th>得分</th>
                <th>评定</th>
            </tr>
        </thead>
        <tbody>
        {% for ar in arry %}

            <tr>
                <td>{{ ar['name'] }}</td>
                <td><a onclick="fun(this)" data-toggle="modal" data-target="#myModal"  data_id="{{ ar['userNo'] }}" >{{ ar['userNo'] }}</a>
                <td>{{ ar['cengji'] }}</td>
                <td>{{ ar['cjcoursenum'] }}</td>
                <td>{{ ar['cjscore'] }}</td>
                <td>{{ ar['hasnopasscj'] }}</td>
                <td>{{ ar['zhuanye'] }}</td>
                <td>{{ ar['zycoursenum'] }}</td>
                <td>{{ ar['zyscore'] }}</td>
                <td>{{ ar['hasnopasszy'] }}</td>
                <td>大于13</td>
                <td>{{ ar['cjscore'] + ar['zyscore'] }}</td>
                <td>评定</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ paginator.currentPage }}
   {# {{ web_macro.paginator(paginator) }} #}
    <ul  class="pagination">
        <li {% if paginator.currentPage == paginator.firstPage %}class="disabled"{% endif %}><a  href="{{ paginator.getPageUrl(paginator.previousPage) }}">上一页</a></li>
        {% for page in paginator.pages %}
            <li {% if page == paginator.currentPage %}class="active"{% endif %}><a href="{{ paginator.getPageUrl(page) }}">{{ page }}</a></li>
        {% endfor %}
        <li {% if paginator.currentPage == paginator.lastPage %}class="disabled"{% endif %}><a  href="{{ paginator.getPageUrl(paginator.nextPage) }}">下一页</a></li>
    </ul>


    <!-- 模态框（Modal） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        成绩
                    </h4>
                </div>
                <div class="modal-body">
                    <table class="table table-striped table-hover" data-search-form="#user-search-form">
                        <thead>
                          <tr>
                              <td>工号</td>
                              <td>姓名</td>
                              <td>学分</td>
                              <td>课程</td>
                              <td>学分年度</td>
                              <td>备注</td>
                          </tr>
                        </thead>
                        <tbody id="p_body">

                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
{% endblock %}