{#
  mode的取值有：
    full：该模式下显示折扣价、原价、打折
    price: 该模式下如有打折活动则显示折扣价，没有打折活动就显示为原价
    originPrice：该模式下只显示原价
    discount：该模式下只显示折扣
#}

{% set shows = shows|default(['full']) %}
{% set priceType = (setting('coin.coin_enabled') and setting('coin.price_type') == 'Coin') ? 'coin' : 'default'  %}

<span class="course-price-widget">

{#{% if course.buyable == 1 %}
  <span class="title" style="color: black;">必修</span>
          {% else %}
  <span  class="title" style="color: black;" >选修</span>
{% endif %}#}
    {% if course.buyable == 0 %}
        <p class="teacher-name">层级0</p>
    {% endif %}
    {% if course.buyable == 1 %}
        <p class="teacher-name">层级1</p>
    {% endif %}
    {% if course.buyable == 2 %}
        <p class="teacher-name">层级2</p>
    {% endif %}
    {% if course.buyable == 3 %}
        <p class="teacher-name">层级3</p>
    {% endif %}
    {% if course.buyable == 4 %}
        <p class="teacher-name">层级4</p>
    {% endif %}
    {% if course.buyable == 5 %}
        <p class="teacher-name">GN1</p>
    {% endif %}
    {% if course.buyable == 35 %}
        <p class="teacher-name">静疗</p>
    {% endif %}
    {% if course.buyable == 36 %}
        <p class="teacher-name">糖尿病</p>
    {% endif %}
    {% if course.buyable == 37 %}
        <p class="teacher-name">危重病</p>
    {% endif %}
    {% if course.buyable == 38 %}
        <p class="teacher-name">跌倒坠床及压疮</p>
    {% endif %}
    {% if course.buyable == 39 %}
        <p class="teacher-name">肿瘤</p>
    {% endif %}
    {% if course.buyable == 40 %}
        <p class="teacher-name">管路</p>
    {% endif %}
    {% if course.buyable == 41 %}
        <p class="teacher-name">健康教育</p>
    {% endif %}
    {% if course.buyable == 42 %}
        <p class="teacher-name">信息化建设</p>
    {% endif %}
    {% if course.buyable == 43 %}
        <p class="teacher-name">设备及耗材</p>
    {% endif %}
    {% if course.buyable == 44 %}
        <p class="teacher-name">科室运行文件</p>
    {% endif %}
    {% if course.buyable == 45 %}
        <p class="teacher-name">临床药品</p>
    {% endif %}
    {% if course.buyable == 46 %}
        <p class="teacher-name">院感</p>
    {% endif %}
    {% if course.buyable == 47 %}
        <p class="teacher-name">敏感指标</p>
    {% endif %}
    {% if course.buyable == 48 %}
        <p class="teacher-name">造口</p>
    {% endif %}
    {% if course.buyable == 49 %}
        <p class="teacher-name">护理文书</p>
    {% endif %}
    {% if course.buyable == 50 %}
        <p class="teacher-name">宣传</p>
    {% endif %}
    {% if course.buyable == 51 %}
        <p class="teacher-name">应急</p>
    {% endif %}
  {% if course.discountId %}

    {% if 'full' in shows or 'price' in shows %}
      {% if priceType == 'coin' %}
        <span class="price">{{ course.price * setting('coin.cash_rate')}} {{setting('coin.coin_name', '虚拟币'|trans)}}</span>
      {% else %}
        <span class="price">{{ course.price }}{{'元'|trans}}</span>
      {% endif %}
    {% endif %}

    {% if 'full' in shows or 'originPrice' in shows %}
      {% if priceType == 'coin' %}
        <span class="origin-price"><del>{{course.price * setting('coin.cash_rate')}} {{setting('coin.coin_name', '虚拟币'|trans)}}</del></span>
      {% else %}
        <span class="origin-price"><del>{{course.originPrice}}{{'元'|trans}}</del></span>
      {% endif %}
    {% endif %}

    {% if 'full' in shows or 'discount' in shows %}

      <span class="discount">
        {% if (course.discount == 0) or (priceType == 'coin' and course.originPrice == 0) or (priceType == 'default' and course.originPrice == 0) %}
          {{'限免'|trans}}
        {% else  %}
          {{ course.discount|round(2, 'common') }}{{'折'|trans}}
        {% endif %}
      </span>

    {% endif %}

  {% else %}

    {% if 'full' in shows or 'price' in shows %}
      <span class="price">
        {% if setting('coin.coin_enabled') and setting('coin.price_type') == 'Coin' %}
          {% if course.price > 0 %} {{ course.price * setting('coin.cash_rate')}}{{setting('coin.coin_name', '虚拟币'|trans)}} {% else %} <span class="text-success">{{''|trans}}</span> {% endif %}
        {% else %}
          {% if course.price > 0 %}{{ course.price }}{{'元'|trans}}{% else %} <span class="text-success">{{''|trans}}</span> {% endif %}
        {% endif %}
      </span>
    {% endif %}

    {% if 'originPrice' in shows %}
      {% if priceType == 'coin' %}
        <span class="origin-price">{{course.originPrice * setting('coin.cash_rate')}}{{setting('coin.coin_name', '虚拟币'|trans)}}</span>
      {% else %}
        ¥<span class="origin-price">{{course.originPrice}}</span>
      {% endif %}
    {% endif %}

  {% endif %}
</span>