{#
  mode的取值有：
    full：该模式下显示折扣价、原价、打折
    price: 该模式下如有打折活动则显示折扣价，没有打折活动就显示为原价
    originPrice：该模式下只显示原价
    discount：该模式下只显示折扣
#}

{% set shows = shows|default(['full']) %}
{% set priceType = (setting('coin.coin_enabled') and setting('coin.price_type') == 'Coin') ? 'coin' : 'default'  %}

<span class="course-price-widget">

{#{% if course.buyable == 1 %}
  <span class="title" style="color: black;">必修</span>
          {% else %}
  <span  class="title" style="color: black;" >选修</span>
{% endif %}#}
    {% if course.buyable == 1 %}
      <span class="title" style="float: right">层级1</span>
    {% endif %}
    {% if course.buyable == 2 %}
      <span class="title" style="float: right">层级2</span>
    {% endif %}
    {% if course.buyable == 3 %}
      <span class="title" style="float: right">层级3</span>
    {% endif %}
    {% if course.buyable == 4 %}
      <span class="title" style="float: right">层级4</span>
    {% endif %}
    {% if course.buyable == 5 %}
      <span class="title" style="float: right">康复小组</span>
    {% endif %}
    {% if course.buyable == 6 %}
      <span class="title" style="float: right">糖尿病小组</span>
    {% endif %}
    {% if course.buyable == 7 %}
      <span class="title" style="float: right">静脉小组</span>
    {% endif %}
    {% if course.buyable == 8 %}
      <span class="title" style="float: right">肿瘤小组</span>
    {% endif %}
    {% if course.buyable == 9 %}
      <span class="title" style="float: right">营养小组</span>
    {% endif %}
    {% if course.buyable == 10 %}
      <span class="title" style="float: right">危重小组</span>
    {% endif %}
    {% if course.buyable == 11 %}
      <span class="title" style="float: right">应急小组</span>
    {% endif %}
  {% if course.discountId %}

    {% if 'full' in shows or 'price' in shows %}
      {% if priceType == 'coin' %}
        <span class="price">{{ course.price * setting('coin.cash_rate')}} {{setting('coin.coin_name', '虚拟币'|trans)}}</span>
      {% else %}
        <span class="price">{{ course.price }}{{'元'|trans}}</span>
      {% endif %}
    {% endif %}

    {% if 'full' in shows or 'originPrice' in shows %}
      {% if priceType == 'coin' %}
        <span class="origin-price"><del>{{course.price * setting('coin.cash_rate')}} {{setting('coin.coin_name', '虚拟币'|trans)}}</del></span>
      {% else %}
        <span class="origin-price"><del>{{course.originPrice}}{{'元'|trans}}</del></span>
      {% endif %}
    {% endif %}

    {% if 'full' in shows or 'discount' in shows %}

      <span class="discount">
        {% if (course.discount == 0) or (priceType == 'coin' and course.originPrice == 0) or (priceType == 'default' and course.originPrice == 0) %}
          {{'限免'|trans}}
        {% else  %}
          {{ course.discount|round(2, 'common') }}{{'折'|trans}}
        {% endif %}
      </span>

    {% endif %}

  {% else %}

    {% if 'full' in shows or 'price' in shows %}
      <span class="price">
        {% if setting('coin.coin_enabled') and setting('coin.price_type') == 'Coin' %}
          {% if course.price > 0 %} {{ course.price * setting('coin.cash_rate')}}{{setting('coin.coin_name', '虚拟币'|trans)}} {% else %} <span class="text-success">{{''|trans}}</span> {% endif %}
        {% else %}
          {% if course.price > 0 %}{{ course.price }}{{'元'|trans}}{% else %} <span class="text-success">{{''|trans}}</span> {% endif %}
        {% endif %}
      </span>
    {% endif %}

    {% if 'originPrice' in shows %}
      {% if priceType == 'coin' %}
        <span class="origin-price">{{course.originPrice * setting('coin.cash_rate')}}{{setting('coin.coin_name', '虚拟币'|trans)}}</span>
      {% else %}
        ¥<span class="origin-price">{{course.originPrice}}</span>
      {% endif %}
    {% endif %}

  {% endif %}
</span>